@charset "utf-8";
/* CSS Document */
.logo {
    text-align:right;
}
.main {
    width:100%;
}
.menu2 {
    width:12%;
    text-align: left;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    float:left;
    font-family: 'Courier New',Courier,monospace;
    font-size: large;
}
.content {
    width:75%;
    float:none;
    margin-left:auto;
    margin-right:auto;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
}
