@charset "utf-8";
/* CSS Document */

/*comun la toate formularele*/
.txt_explicativ{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#41583a;
	font-size:10px;
	font-weight:bold;
}
.txt_explicativ.a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#41583a;
	font-size:10px;
	font-weight:bold;
}
.label{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#41583a;
	font-size:14px;
	font-weight:bold;
}

.camp_oblig{
	background-color:#fcf290;
	border-color:#cb8649;
	border-width:1px;
	border-style:solid;
	color:#41583a;
}
.camp{
	background-color:#FFFFFF;
	border-color:#cb8649;
	border-width:1px;
	border-style:solid;
	color:#41583a;
}
.butoane{
	background-color:#cb8649;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#41583a;

}

/*formularul pentru introducerea pensiunilor*/


